<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Ven's blog</h1>
  <h3>My first rails application for coder school</h3>
  <%= form_tag(articles_path, :method => 'get', id:"search-form") do %>
  <p>
  	<%= text_field_tag :search, params[:search] %>
  	<%= submit_tag "Search", :name=>nil %>
  </p>
  <% end %>
  <%= render @articles%>
  <br>

  <%= link_to 'New Article', new_article_path %>
</div>
